@page
@model ProductsWebApp.Pages.BooksList.CreateModel
@{
}

<br />
<h1 class="text-info">Create New Book</h1>
<br />

<div class="border container" style="padding:30px">
    <form method="post">
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="OneBook.Name"></label>
            </div>
            <div class="col-6">
                <input asp-for="OneBook.Name" class="form-control" />
            </div>
        </div>

        <div class="form-group row mt-3">
            <div class="col-2">
                <label asp-for="OneBook.Author"></label>
            </div>
            <div class="col-6">
                <input asp-for="OneBook.Author" class="form-control" />
            </div>
        </div>
        <div class="form-group row mt-3">
            <div class="col-2">
                <label asp-for="OneBook.ISBN"></label>
            </div>
            <div class="col-6">
                <input asp-for="OneBook.ISBN" class="form-control" />
            </div>
        </div>

        <div class="form-group row mt-3">
            <div class="col-2 offset-2">
                <input type="submit" class="btn btn-primary" value="Save" />
            </div>
            <div class="col-6">
                @*<input asp-for="OneBook.Author" class="form-control" />*@
            </div>
        </div>


        
    </form>
</div>