@page
@model ProductsWebApp.Pages.BooksList.IndexModel
@{
}

<div class="container row">

    <div class="col-6">
        <h1 class="text-info">Books List</h1>
    </div>
    <div class="col-6">
       <a asp-page="Create" class="btn btn-success form-control">Create Book</a>
    </div>
</div>